#logo-java, #logo-pc{
    font-size: 70px;
    padding: 10px 0;
}
#linguagem{
    padding: 5px;
    font-size: 13pt;
    margin: 3px;
    background-color: #0c2461da;
    width: 674px;
    height: 220px;
    color: white;
}
#funcoes{
    padding: 5px;
    font-size: 13pt;
    margin: 3px;
    background-color: #0c2461da;
    width: 674px; 
    height: 220px;
    color: white;
}
.content{
    margin-top: 10px;
    padding: 0 50px;
}
.content img{
    margin-top: 5px;
    width: 100%;
    max-width: max-content;
    margin: auto;
    cursor: pointer;
}
.content p{
    text-align: justify;
}
.intalacao, #h{
    padding-top: 10px;
    text-align: center;
    margin: 0px;
    color: #061335;
}

#terminal{
    margin-top: 10px;
    padding: 0 50px;
    width: auto;
    height: auto;
    text-align: justify;
    color: rgb(255, 0, 0);
}
