#logo-java, #logo-pc{
    font-size: 70px;
    padding: 10px 0;
}
#linguagem{
    padding: 5px;
    font-size: 13pt;
    margin: 3px;
    background-color: #0c2461da;
    width: 674px;
    height: 220px;
    color: white;
}
#funcoes{
    padding: 5px;
    font-size: 13pt;
    margin: 3px;
    background-color: #0c2461da;
    width: 674px; 
    height: 220px;
    color: white;
}
.intalacao, #h{
    padding-top: 10px;
    text-align: center;
    margin: 0px;
    color: #061335;
}
#download{
    padding: 5px;
    margin: 10px;
    font-size: 13pt;
    width: 97%;
    text-align: center;
    color:#061335;
}
#windows{
    padding: 0px;
    margin: 10px;
    margin-left: 25%;
    font-size: 12pt;
    text-align: justify;
}
#mac{
    padding: 0px;
    margin: 10px;
    margin-left: 25%;
    font-size: 12pt;
    text-align: justify;
}
#linux{
    padding: 0px;
    margin: 10px;
    margin-left: 25%;
    font-size: 12pt;
    text-align: justify;
}
#terminal{
    text-align: center;
    width: 490px;
    height: auto;
    background-color: #061335;
    color: white;
    font-style: unset;
    position: relative;
    
}
.funcionalidades{
    padding-top: 10px;
    text-align: center;
    color: #061335;
    font-size: 13pt;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.fim-pagina{
    color: #ffffff;
    padding-top: 10px;
    width: auto;
    height: auto;
    margin: 0;
    background-color: #0b225c;
}
.j48{
    padding-top: 10px;
    text-align: initial;
    color: #061335;
    font-size: 13pt;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
}
.j48-i{
    text-align: center;
}